<div class='f-fallback'>
  <h1>Hi {{name}},</h1>
  <p>A new Two-Factor Authentication (2FA) code has been generated for your
    account.</p>
  <p>If you encounter any issues with setting up your 2FA, please
    <a href='http://locknload-desofs.pt/support'>contact our support team</a>.</p>
  <p>Thanks for enhancing the security of your account,
    <br />The LockNLoad team</p>
</div>
