<div class="f-fallback">
  <h1>Hi {{name}},</h1>
  <p>Congratulations! Your license has been approved.</p>
  <p>Your password is: {{password}}</p>
  <p>We strongly recommend that you change it as soon as possible.</p>
  <p>Thank you and happy shopping!</p>
  <p>If you have any questions or need assistance, please <a href="http://locknload-desofs.pt/support">contact our support team</a>.</p>
  <p>Thanks for shopping with us,
  <br>The LockNLoad team</p>
  <!-- Sub copy -->
</div>
