<div class="f-fallback">
  <h1>Hi {{name}},</h1>
  <p>Welcome! We are excited to have you in our store!</p>
  <p>When the ERCA accepts your request, you will receive an email with the access details.</p>
  <p>You can track your license status by clicking the button below:</p>
  <!-- Action -->
  <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
      <td align="center">
        <!-- Border based button -->
        <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
          <tr>
            <td align="center">
              <a href="{{statusLink}}" class="f-fallback button button--green" target="_blank">View License Status</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <p>If you have any questions or need assistance, please <a href="http://locknload-desofs.pt/support">contact our support team</a>.</p>
  <p>Thanks for shopping with us,
  <br>The LockNLoad team</p>
  <!-- Sub copy -->
  <table class="body-sub" role="presentation">
    <tr>
      <td>
        <p class="f-fallback sub">If you’re having trouble with the button above, copy and paste the URL below into your web browser.</p>
        <p class="f-fallback sub">{{statusLink}}</p>
      </td>
    </tr>
  </table>
</div>
