<div class="f-fallback">
  <h1>Hi {{name}},</h1>
  <p>Unfortunately, your request was not approved.</p>
  <p>If you have any questions or need assistance, please <a href="http://locknload-desofs.pt/support">contact our support team</a>.</p>
  <p>Thanks for shopping with us,
  <br>The LockNLoad team</p>
  <!-- Sub copy -->
</div>
