<div class="reset-password-container">
  <div class="reset-password-form">
    <h2>Reset Password Form</h2>
    <p>
      <b> Enter your email address and new password to reset your password. </b>
    </p>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <tui-input formControlName="email">
          Email address
          <input autocomplete="email" tuiTextfield type="email" />
          <span class="tui-required"></span>
        </tui-input>
      </div>
      <div class="form-group">
        <tui-input-password formControlName="new_password" tuiTextfieldSize="m">
          Password
          <input placeholder="Make it secure!" tuiTextfield />
          <span class="tui-required"></span>
        </tui-input-password>
      </div>
      <div class="form-group">
        <tui-input-password
          formControlName="new_password_confirmation"
          tuiTextfieldSize="m"
        >
          Password Confirmation
          <input placeholder="Enter password confirmation" tuiTextfield />
          <span class="tui-required"></span>
        </tui-input-password>
      </div>
      <button [disabled]="!form.valid" type="submit" class="btn">
        Reset Password
      </button>
    </form>
  </div>
</div>
